In [20]:
import pandas as pd

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
data=pd.read_csv("C:\Excelr files\Excelr files\Company_Data.csv")

In [26]:
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [27]:
data.tail(40)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
360,8.77,118,86,7,265,114,Good,52,15,No,Yes
361,8.68,131,25,10,183,104,Medium,56,15,No,Yes
362,5.25,131,55,0,26,110,Bad,79,12,Yes,Yes
363,10.26,111,75,1,377,108,Good,25,12,Yes,No
364,10.50,122,21,16,488,131,Good,30,14,Yes,Yes
365,6.53,154,30,0,122,162,Medium,57,17,No,No
366,5.98,124,56,11,447,134,Medium,53,12,No,Yes
367,14.37,95,106,0,256,53,Good,52,17,Yes,No
368,10.71,109,22,10,348,79,Good,74,14,No,Yes
369,10.26,135,100,22,463,122,Medium,36,14,Yes,Yes
370,7.68,126,41,22,403,119,Bad,42,12,Yes,Yes
371,9.08,152,81,0,191,126,Medium,54,16,Yes,No
372,7.80,121,50,0,508,98,Medium,65,11,No,No
373,5.58,137,71,0,402,116,Medium,78,17,Yes,No
374,9.44,131,47,7,90,118,Medium,47,12,Yes,Yes
375,7.90,132,46,4,206,124,Medium,73,11,Yes,No
376,16.27,141,60,19,319,92,Good,44,11,Yes,Yes
377,6.81,132,61,0,263,125,Medium,41,12,No,No
378,6.11,133,88,3,105,119,Medium,79,12,Yes,Yes
379,5.81,125,111,0,404,107,Bad,54,15,Yes,No
380,9.64,106,64,10,17,89,Medium,68,17,Yes,Yes
381,3.90,124,65,21,496,151,Bad,77,13,Yes,Yes
382,4.95,121,28,19,315,121,Medium,66,14,Yes,Yes
383,9.35,98,117,0,76,68,Medium,63,10,Yes,No
384,12.85,123,37,15,348,112,Good,28,12,Yes,Yes
385,5.87,131,73,13,455,132,Medium,62,17,Yes,Yes
386,5.32,152,116,0,170,160,Medium,39,16,Yes,No
387,8.67,142,73,14,238,115,Medium,73,14,No,Yes
388,8.14,135,89,11,245,78,Bad,79,16,Yes,Yes
389,8.44,128,42,8,328,107,Medium,35,12,Yes,Yes
390,5.47,108,75,9,61,111,Medium,67,12,Yes,Yes
391,6.10,153,63,0,49,124,Bad,56,16,Yes,No
392,4.53,129,42,13,315,130,Bad,34,13,Yes,Yes
393,5.57,109,51,10,26,120,Medium,30,17,No,Yes
394,5.35,130,58,19,366,139,Bad,33,16,Yes,Yes
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [28]:
data.isna().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [71]:
data.dtypes

Sales               float64
CompPrice             int64
Income                int64
Advertising           int64
Population            int64
Price                 int64
Age                   int64
Education             int64
High                  int64
ShelveLoc_Bad         uint8
ShelveLoc_Good        uint8
ShelveLoc_Medium      uint8
Urban_No              uint8
Urban_Yes             uint8
US_No                 uint8
US_Yes                uint8
dtype: object

In [72]:
data.shape

(400, 16)

In [73]:
data['high']=data.Sales.map(lambda x:1 if x>=8 else 0)

In [74]:
data

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,High,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,high
0,9.50,138,73,11,276,120,42,17,1,1,0,0,0,1,0,1,1
1,11.22,111,48,16,260,83,65,10,1,0,1,0,0,1,0,1,1
2,10.06,113,35,10,269,80,59,12,1,0,0,1,0,1,0,1,1
3,7.40,117,100,4,466,97,55,14,0,0,0,1,0,1,0,1,0
4,4.15,141,64,3,340,128,38,13,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,1,0,1,0,0,1,0,1,1
396,6.14,139,23,3,37,120,55,11,0,0,0,1,1,0,0,1,0
397,7.41,162,26,12,368,159,40,18,0,0,0,1,0,1,0,1,0
398,5.94,100,79,7,284,95,50,12,0,1,0,0,0,1,0,1,0
399,9.71,134,37,0,27,120,49,16,1,0,1,0,0,1,0,1,1

In [81]:
X=data.drop(columns=['Sales','High','high'],axis=1)

In [82]:
Y=data.iloc[:,-1]

In [83]:
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [84]:
Y

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: high, Length: 400, dtype: int64

In [85]:
def norm_fun(i):
    x=(i-i.min())/(i.max()-i.min())
    return(x)

In [86]:
X=norm_fun(X)

In [87]:
X

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,0.622449,0.525253,0.379310,0.533066,0.574850,0.309091,0.875,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.346939,0.272727,0.551724,0.501002,0.353293,0.727273,0.000,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,0.367347,0.141414,0.344828,0.519038,0.335329,0.618182,0.250,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,0.408163,0.797980,0.137931,0.913828,0.437126,0.545455,0.500,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.653061,0.434343,0.103448,0.661323,0.622754,0.236364,0.375,1.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.622449,0.878788,0.586207,0.386774,0.622754,0.145455,0.500,0.0,1.0,0.0,0.0,1.0,0.0,1.0
396,0.632653,0.020202,0.103448,0.054108,0.574850,0.545455,0.125,0.0,0.0,1.0,1.0,0.0,0.0,1.0
397,0.867347,0.050505,0.413793,0.717435,0.808383,0.272727,1.000,0.0,0.0,1.0,0.0,1.0,0.0,1.0
398,0.234694,0.585859,0.241379,0.549098,0.425150,0.454545,0.250,1.0,0.0,0.0,0.0,1.0,0.0,1.0
399,0.581633,0.161616,0.000000,0.034068,0.574850,0.436364,0.750,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [88]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=40)

In [98]:
from sklearn.ensemble import RandomForestClassifier as RF

In [106]:
model=RF(n_estimators=30,max_features=3)

In [107]:
model.fit(X_train,Y_train)

RandomForestClassifier(max_features=3, n_estimators=30)

In [108]:
y_pred=model.predict(X_test)

In [109]:
y_pred

array([1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [110]:
from sklearn.metrics import accuracy_score

In [111]:
accuracy=accuracy_score(Y_test,y_pred)

In [112]:
accuracy*100

85.0

In [113]:
from sklearn.metrics import classification_report

In [114]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89        79
           1       0.79      0.76      0.77        41

    accuracy                           0.85       120
   macro avg       0.84      0.83      0.83       120
weighted avg       0.85      0.85      0.85       120